# Dependencies
node_modules
.pnpm-store

# Next.js
.next
out
build

# Turbo
.turbo

# Environment
.env
.env*.local

# IDE
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Testing
coverage

# Build
dist
*.tsbuildinfo

# Prisma
prisma/*.db
prisma/*.db-journal

# Misc
*.pem

# Claude Code
.claude/
